<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.pojo.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lhy.pojo.po.User">
        <id column="user_id" property="userId" />
        <result column="nt_account" property="ntAccount" />
        <result column="am_firstname" property="amFirstname" />
        <result column="am_lastname" property="amLastname" />
        <result column="is_mgr" property="isMgr" />
        <result column="role_id" property="roleId" />
        <result column="am_status" property="amStatus" />
        <result column="email" property="email" />
        <result column="email_cc_group" property="emailCcGroup" />
        <result column="am_region" property="amRegion" />
        <result column="am_province" property="amProvince" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, nt_account, am_firstname, am_lastname, is_mgr, role_id, am_status, email, email_cc_group, am_region, am_province, create_time, update_time
    </sql>

</mapper>
